.TodoFormWrapper form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .TodoFormWrapper {
    flex-direction: column;
  }
}

.TodoFormWrapper input {
  align-self: auto;
  width: 50%;
  height: 2.1rem;
  font-size: 1.1rem;
  padding: 0 15px;
  border: none;
  border-radius: 5px;
}
