.completed {
  text-decoration: line-through;
  color: #888;
}
.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.taskActions {
  display: flex;
  align-items: center;
}
.taskActions svg {
  margin-left: 10px;
}
.acceptIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: #4caf50;
}
.acceptIcon:hover {
  fill: #45a049;
}
.deleteIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: #f44336;
}
.deleteIcon:hover {
  fill: #d32f2f;
}
