.trashcan {
  margin-top: 2rem;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--item-background-color);
}
.trashcan.dark {
  background-color: var(--dark-item-background-color);
  color: var(--dark-text-color);
}
.trashcanControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.trashcanHeader {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color);
}

.deleteAllButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.emptyTrashcan {
  margin-top: 3rem;
  text-align: center;
  color: var(--text-color-secondary);
}

.trashcanList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trashcanColumn {
  width: 48%;
}

.trashcanItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--background-color);
  margin: 5px 0;
  border-radius: 5px;
  color: var(--text-color);
}
.trashcanItem.dark {
  background-color: var(--dark-item-background-color);
  color: var(--dark-text-color);
}

.restoreButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.restoreIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: var(--accent-color);
}

.restoreIcon:hover {
  fill: var(--accent-color-hover);
}

.trashcanIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: var(--delete-color);
}

.trashcanIcon:hover {
  fill: var(--delete-color-hover);
}

.darkTheme {
  background-color: var(--dark-background-color);
  color: var(--dark-text-color);
}

.darkTheme .trashcanHeader {
  color: var(--dark-text-color);
}

.darkTheme .emptyTrashcan {
  color: var(--dark-text-color-secondary);
}

.darkTheme .trashcanItem {
  background-color: var(--dark-item-background-color);
  color: var(--dark-text-color);
}

.darkTheme .restoreIcon {
  fill: var(--dark-accent-color);
}

.darkTheme .restoreIcon:hover {
  fill: var(--dark-accent-color-hover);
}

.darkTheme .trashcanIcon {
  fill: var(--dark-delete-color);
}

.darkTheme .trashcanIcon:hover {
  fill: var(--dark-delete-color-hover);
}