.trashcan {
    margin-top: 30px;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 15px;
  }
  .trashcan-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .trashcan-header {
    font-size: 18px;
    font-weight: bold;
  }
  .delete-all-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .empty-trashcan {
    text-align: center;
    color: #888;
  }
  .trashcan-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .trashcan-column {
    width: 48%;
  }
  .trashcan-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: inherit;
    margin: 5px 0;
    border-radius: 5px;
  }
  .restore-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .restore-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    fill: #2196f3;
  }
  .restore-icon:hover {
    fill: #1976d2;
  }
  .trashcan-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: #f44336;
  }
  .trashcan-icon:hover {
    fill: #d32f2f;
  }