.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: arrow;
}
.active {
  text-decoration: underline;
}
.Buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem;
}
button {
  padding: 1rem;
  font-size: 1.2rem;
  color: #112d49;
  background-color: white;
  border-radius: 5px;
  border: 0;
  width: 10rem;
  cursor: pointer;
  font-family: "Roboto", serif;
}
h1 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}
.spacer {
  padding: 1rem;
}
a,
.innerLink {
  text-decoration: none;
  color: lightblue;
  font-weight: bold;
  font-size: 1.2rem;
}
nav {
  padding: 1rem;
  font-size: 0.8rem;
  border: 0;
  width: 90%;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a:hover {
  text-decoration: underline;
}
nav a {
  padding: 0.1rem;
  font-size: 1.2rem;
  color: #112d49;
  background-color: white;
  border-radius: 5px;
  border: 0;
  width: 10rem;
  cursor: pointer;
  font-family: "Times New Roman", sans-serif;
}
@media screen and (max-width: 1460px) {
  nav {
    flex-direction: column;
    align-items: center;
    justify-self: flex-end;
    gap: 1rem;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}
.singleCourse {
  display: flex;
  flex-direction: column;
}
.linkBack {
  align-self: flex-end;
  align-content: flex-end;
}
