.App {
  text-align: center;
  padding: 0 3em;
}
h1 {
  font-size: 2.2rem;
  margin-top: 24px;
  margin-bottom: 40px;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1rem 0.6rem;
  border-radius: 0.625rem;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 90%;
  max-width: 30rem;
  margin: 1rem auto;
  list-style: none;
  font-size: 1.2rem;
  color: #333;
}
li:hover {
  background-color: #e0e0e0;
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.delete {
  cursor: pointer;
  color: red;
  font-size: 1.5rem;
  padding-bottom: 0.1rem;
}
.checkbox {
  margin-right: 0.625rem;
  cursor: pointer;
  width: 0.75rem;
  height: 0.75rem;
}
input:checked + span {
  text-decoration: line-through;
  color: #888;
}
